@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles below */
#app {
  margin: 0 auto;
  padding: 2rem;
}
  
body {
  display: flex;
  place-items: center;
}

@media (min-width: 1024px) {
  /* 

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
